<!DOCTYPE html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8" />
  <title>Title Page</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="manifest" href="site.webmanifest" />
  <link rel="apple-touch-icon" href="images/content/favicon.png" />
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="./css/app.minify.css" />
  <link rel="icon" href="images/content/favicon.png" />

  <meta name="theme-color" content="#000" />
</head>

<body>
  <h1 class="text-3xl font-bold">Hello World</h1>

</body>

</html>